@{
    ViewBag.Title = "Home Page";
}

<div class="container">
<div class="jumbotron">
    <h1 class="text-center">You don't even like that shit!!!</h1>
</div>
    <div class="row row-centered">
        <h1 class="text-center">Will you made one step forward today</h1>
            <div class="col-md-2 col-md-offset-5 col-sm-5 col-sm-offset-5">
                <button id="btnYes" type="button" class="btn btn-primary btn-lg">Yes</button>
                <button id="btnNo" type="button" class="btn btn-danger btn-lg">No</button>
            </div>
        </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $("#btnYes").click(CloseTab);
    $("#btnNo").click(CloseTab);
    function CloseTab() {
       window.close(); 
    }
</script>


